<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>フォームの送信に成功しました！</h1>
<!--    <p>学籍番号: {{ student_id }}</p>-->
<!--    <p>名前（漢字）: {{ name }}</p>-->
<!--    <p>名前（ふりがな）: {{ name_kana }}</p>-->
<!--    <p>名前（ローマ字ふりがな）: {{ name_roma }}</p>-->
<!--    <p>生年月日: {{ birthday }}</p>-->
<!--    <p>性別: {{ gender }}</p>-->
<!--    <p>本籍: {{ hometown }}</p>-->
<!--    <p>住所: {{ address }}</p>-->
<!--    <p>自宅電話番号: {{ phone_home }}</p>-->
<!--    <p>携帯電話番号: {{ phone_mobile }}</p>-->
<!--    <p>保護者氏名（漢字）: {{ guardian_name }}</p>-->
</body>
</html>